.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main {
    flex-grow: 1;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.footer {
    height: 1.5em;
}

.monaco {
    height: 100%;
}

.status {
}

.ms-choice {
    height: 100%;
    line-height: normal;
}